<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tiago</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <section class="top__container">
      <img class="top__cloud" src="../static/images/cloud.png" alt="cloud" />
      <article class="title">
        <h1>I'm Tiago</h1>
        <h2>a Web Developer</h2>
      </article>
      <img class="bottom__cloud" src="../static/images/cloud.png" alt="cloud" />
      <img
        class="mountain"
        src="../static/images/mountain.png"
        alt="mountain"
      />
    </section>
    <img class="personal" src="../static/images/image.png" alt="tiago" />
    <p>I love coffe and beers.</p>
    <h3>My skills</h3>
    <img
      class="skills"
      src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif"
      alt="my skills"
    />
    <p>Web development ⭐⭐⭐⭐⭐</p>
  </body>
</html>
