<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tiago</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <h1>I'm Tiago</h1>
    <img class="personal" src="../static/image.png" alt="tiago" />
    <h3>I'm a Web Developer.</h3>
    <p>I love coffe and beers.</p>
    <h3>My skills</h3>
    <img
      class="skills"
      src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif"
      alt="my skills"
    />
    <p>Web development ⭐⭐⭐⭐⭐</p>
  </body>
</html>
